{% extends 'AdminBundle:Template:layout.html.twig' %}

{% block contentheading %}
	<div class="content-heading">
		<div class="container">
			<div class="row">
				<div class="col-xx-12">
					<h1 class="heading">Admin</h1>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block main %}
	<main class="content">
		<div class="container">
			<div class="row">
				<div class="col-xx-12 padding-xx-no padding-xs-no">
					<div class="card">
						<div class="card-main">
							<div class="card-inner">
								<p>Daemonite's Material UI is a fully responsive, cross-platform, front-end interface based on Google Material Design. This lightweight framework is built in HTML5 using Bootstrap, JS and CSS.</p>
								<blockquote>A visual language for our users that synthesizes the classic principles of good design with the innovation and possibility of technology and science. This is material design.<sup class="margin-left-xs"><a href="http://www.google.com/design/spec/material-design/introduction.html" target="_blank"><span class="icon">open_in_new</span></a></sup></blockquote>
								<p>Have a play with this working prototype of Material, let us know what you think at the <a href="http://labs.daemon.com.au" target="_blank">Daemon Labs<sup class="margin-left-xs"><span class="icon">open_in_new</span></sup></a> forum.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
