<ul class="nav nav-list pull-left">
	<li>
		<a data-toggle="menu" href="#doc_menu">
			<span class="icon lg">menu</span>
		</a>
	</li>
</ul>
<a class="header-logo margin-left-no" href="home.html">Admin</a>